# Built application files
*.apk
*.ap_
*.aab

# Dex files
*.dex

# Java/Kotlin class files
*.class

# Generated folders
/build/
**/build/
.gradle/
.cxx/
.externalNativeBuild/
captures/

# Local config
local.properties

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db